.wrapper {
  position: relative;
}

.map {
  width: 80vw;
  height: 80vh;
  border: 10px solid white;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  @media (max-width: 768px) {
    width: 90vw;
    height: 60vh;
  }
}

.loaderWrapper {
  min-height: 86.5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) {
    min-height: 50vh;
  }
}

.loader {
  width: 84px;
  height: 84px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  animation: loader-anim 3s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #c43d3d transparent;
}
@keyframes loader-anim {
  0% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.7) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
